doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=600")
        title zone
        link(rel="icon" type="image/png" href="icon.png")
        link(rel="stylesheet" href="style.css")
        script(src="script.js")
    body
        #scene
            #three-container
            #avatar-panel(hidden)
                canvas#avatar-paint(width=8, height=8)
                .controls
                    button#avatar-update update
                    button#avatar-cancel cancel
        canvas#chat-canvas(width=512, height=512)
        #chat-inputs
            input#chat-input(type="text", placeholder="chat message...", maxlength="160")
        #entry-splash
            #entry-panel
                form#entry
                    h1 you are about to enter a zone
                    input#join-name(type="text", placeholder="your name...", maxlength="16")
                    input#entry-button(type="submit" value="enter" disabled)
