doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=512")
        title zone
        link(rel="icon", type="image/png", href="icon.png")
        link(rel="stylesheet", href="ascii_small_simple/ascii_small_simple.css", type="text/css", charset="utf-8")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="menus.css")
        script(src="script.js")
    body
        #zone
            #scene
                #tooltip
                canvas#renderer
            #sidebar
                #chat-panel
                    canvas#chat-canvas2(width=512, height=512)
                    input#chat-input(type="text" placeholder="chat message..." maxlength="160" autocomplete="off")
                #panel-container
                    #social-panel.menu-panel(data-window data-tab-body="social")
                        .menu-panel-tab-body-container
                            #user-items.user-container
                            #auth-row
                                input(type="text" placeholder="admin password...")#auth-input
                                button#auth-button authorise
                            #auth-content
                                .button-row
                                    select#user-select
                                    button#despawn-button despawn
                                    button#add-dj-button add dj
                                    button#del-dj-button del dj
                                    button#ban-ip-button ban ip
                                .button-row
                                    button#event-mode-on event mode on
                                    button#event-mode-off event mode off
                    #playback-panel.menu-panel(data-window data-tab-body="playback")
                        .menu-panel-tab-body-container
                            .menu-panel-tab-body(role="tabpanel" data-tab-body="playback/search" hidden)
                                #search-results
                                    #search-result-template.search-result
                                        div title
                                        img 
                                form#search-form
                                    select#search-library
                                        option youtube
                                        option library
                                    input#search-input(placeholder="search for a video" type="text" autocomplete="off")
                                    input#search-submit(type="submit" value="search" disabled)
                            .menu-panel-tab-body(role="tabpanel" data-tab-body="playback/playlist")
                                #queue-title
                                .queue-item#current-item
                                    .queue-item-title#current-item-title title
                                    .queue-item-time#current-item-time 00:00
                                    button.queue-item-cancel#skip-button(title="vote to skip this")
                                        img(src="icons/skip.png")
                                #queue-items
                                    .queue-item#queue-item-template
                                        .queue-item-title title
                                        .queue-item-time 00:00
                                        button.queue-item-cancel(title="unqueue this")
                                            img(src="icons/cancel.png")
                                .button-rows
                                    .button-row
                                        button#play-banger(title="queue random song", type="button") queue random song
                            .menu-panel-tab-body.button-rows(role="tabpanel" data-tab-body="playback/player" hidden)
                                .button-row
                                    label(for="volume-slider") volume
                                    input#volume-slider(type="range", min="0", max="1", step=".01")
                                .button-row
                                    button#popout-button pop out video
                                    button#resync-button resync video
                                    button#external-button open video in tab
                                    button#pip-button open PiP
                        .menu-panel-tab-toggle-container(role="tablist")
                            button.menu-panel-tab-toggle(role="tab" data-tab-toggle="playback/search") search
                            button.menu-panel-tab-toggle.active(role="tab" data-tab-toggle="playback/playlist") playlist
                            button.menu-panel-tab-toggle(role="tab" data-tab-toggle="playback/player") player
                    #avatar-panel.menu-panel(data-window data-tab-body="avatar")
                        .menu-panel-tab-body-container
                            .menu-panel-tab-body(role="tabpanel" data-tab-body="avatar/appearance")
                                #avatar-paint-container
                                    canvas#avatar-paint(width=8 height=8)
                                    #avatar-slot-container
                                        canvas.avatar-slot(width=8 height=8 data-avatar-slot="a")
                                        canvas.avatar-slot(width=8 height=8 data-avatar-slot="b")
                                        canvas.avatar-slot(width=8 height=8 data-avatar-slot="c")
                                        canvas.avatar-slot(width=8 height=8 data-avatar-slot="d")
                                .button-row
                                    input#avatar-name(type="text", maxlength="16")
                                    button#avatar-update update
                        .menu-panel-tab-toggle-container
                            button.menu-panel-tab-toggle.active(role="tab" data-tab-toggle="avatar/appearance") appearance
                #menu-tabs.toolbar
                    button(title="show playback panel (q)" data-tab-toggle="playback")
                        img(src="icons/music.png")      
                    button(title="show zonies (w)" data-tab-toggle="social")
                        img(src="icons/users.png")           
                    button#avatar-button(title="change appearance (e)" data-tab-toggle="avatar")
                        img(src="icons/avatar.png")
                    button#resync-button2(title="resync video")
                        img(src="icons/resync.png")
                    .spacer
                    button(title="toggle float emote (1)", data-emote-toggle="wvy")
                        img(src="icons/wvy.png")
                    button(title="toggle shake emote (2)", data-emote-toggle="shk")
                        img(src="icons/shk.png")
                    button(title="toggle rave emote (3)", data-emote-toggle="rbw")
                        img(src="icons/rbw.png")
                    button(title="toggle spin emote (4)", data-emote-toggle="spn")
                        img(src="icons/spn.png")

        #popout-panel.menu-panel(data-window)
            .menu-title(data-window-drag)
                div video pop-out
                button(title="hide panel (esc)" data-window-close).icon-button
                    img(src="icons/close.png")
        #entry-splash
            audio#entry-sound(hidden src="buddy-in.mp3")
            #entry-panel
                #entry-logo-container
                    img#entry-logo(src="./zone-logo.png")
                #entry-playing ...
                #entry-users.user-container ...
                form#entry
                    input#join-name(type="text" placeholder="your name..." minlength="1" maxlength="16" required)
                    input#entry-button(type="submit" value="enter" disabled)
