[hidden] { display: none !important; }
* { box-sizing: border-box; }
input[type="submit"], button { cursor: pointer; }
.spacer { flex: 1; }

:root {
    --button-color: #0052cc;
    --disable-color: #888888;
    --ascii-small: 'ascii_small_simple', monospace;
}

canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    color: white;
    background: black;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--ascii-small);
}

input, button, option, select {
    font-family: var(--ascii-small);
    font-size: 16px;
}

input[type="text"], select {
    color: white;

    background: black;
    border: solid black 3px;
}

input[type="text"]:focus {
    border-bottom: solid red 3px;
}

#chat-input {
    position: absolute;
    bottom: 16px; left: 64px;
    width: 432px; height: 32px;
}

#entry-panel {
    width: 512px;
}

#entry {
    padding: 16px 48px;
    display: flex;
}

#entry-logo {
    width: 512px;
    margin-bottom: -64px;
}

.toolbar {
    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    pointer-events: none;
}

.toolbar > *:last-child {
    margin-right: 16px;
}

.toolbar > button {
    width: 32px; height: 32px;
    
    border: none;
    padding: 4px;
    background-color: var(--button-color);
    border-color: var(--button-color);

    pointer-events: initial;
}

.toolbar > button > img {
    width: 100%; height: 100%;
}

#top-toolbar {
    top: 0; left: 0;
}

#top-toolbar > button {
    margin-left: 16px; margin-top: 16px;
}

#bottom-toolbar {
    bottom: 0; left: 0;
    align-items: flex-end;
}

#bottom-toolbar > button {
    margin-left: 16px; margin-bottom: 16px;
}

#player-status {
    position: absolute;
    left: 0; top: 100%;

    flex: 1;
    margin: 16px;
}

#tooltip {
    flex: 1;
    margin: 16px;
    margin-bottom: 0px;
}

.toolbar > button.active {
    filter: invert();
}

.menu-panel {
    position: absolute;
    width: 100%;
    max-width: 512px;
    background: rgb(0 21 51);

    display: flex;
    flex-direction: column;
}

#search-form {
    width: 100%;
    display: flex;
    padding: 16px;
    padding-bottom: 0;
}

#search-input {
    flex: 1;
    min-width: 0;
}

#search-form > button, #search-form > input[type="submit"] {
    flex: 0;
    margin-left: 8px;
}

.search-result {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.search-result:hover {
    background: orange;
}

.search-result > div {
    flex: 1;
    padding: 8px;
}

.search-result > img {
    flex: 0;
    width: 128px;
    min-height: 64px;
    object-fit: cover;
}

.menu-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 8px;
    background: rgb(32 40 64);
}

.menu-title > * {
    flex: 1;
}

.menu-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: rgb(0 21 51);
}

.icon-button-small {
    width: 24px;
    height: 24px;
    flex: 0;

    border: none;
    padding: 4px;
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.icon-button-small > img {
    width: 16px; height: 16px;
}

#queue-items {
    display: flex;
    flex-direction: column;
}

.queue-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.queue-item:not(:last-child) {
    margin-bottom: 8px;
}

.queue-item > *:not(:first-child) {
    margin-left: 8px;
}

.queue-item-title {
    flex: 1;
}

.queue-item-time {
    width: 128px;
    flex: 0;
    
    color: #00ffff;
}

.queue-item-cancel {
    width: 24px;
    height: 24px;

    border: none;
    padding: 4px;
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.queue-item-cancel:disabled {
    background-color: var(--disable-color);
    border-color: var(--disable-color);
    cursor: not-allowed;
}

.queue-item-cancel > img {
    width: 16px; height: 16px;
}

#popout-panel {
    position: absolute;
    background: black;

    left: calc(50vw - 256px); top: 0;
    min-width: 512px;
    max-width: max(50vw, 512px);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#popout-panel > video {
    width: 100%;
}

#user-panel {
    position: absolute;
    left: calc(100vw - 256px); top: 0;

    width: 256px;

    display: flex;
    flex-direction: column;

    background: black;
}

#blocks-panel {
    position: absolute;
    left: 0; top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#blocks-list {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 8px;
    gap: 16px 16px;
    grid-template-columns: repeat(4, 48px);
    grid-template-rows: repeat(2, 96px);
}

#blocks-list > * {
    width: 100%; height: 100%;
}

#blocks-list > *.selected {
    outline: 4px solid var(--button-color);
}

#avatar-panel {
    position: absolute;
    left: calc(100vw - 256px); top: 0;

    width: 256px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#avatar-panel > *:not(:first-child) {
    margin-top: 8px;
}

#avatar-panel > .controls {
    display: flex;
    flex: 1;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex: 1;
}

#chat-canvas {
    position: absolute;
    bottom: 0px; left: 0;
    width: 512px;
    height: 512px;

    pointer-events: none;
}

#chat-canvas.open {
    pointer-events: initial;
    cursor: pointer;
}

#user-list {
    overflow-y: auto;
    flex: 1;

    margin: 2px;
    padding: 2px;
    border: 2px solid black;
}

.user-dj {
    color: #00FFFF;
}

.user-admin {
    color: #FF00FF;
}

#commands {
    overflow-y: auto;
}

#scene {
    position: relative;
    width: 100%; height: 100%;
}

.controls > button {
    flex: 1;
}

.controls > button:not(:first-child) {
    margin-left: 8px;
}

#avatar-paint {
    width: 200px; height: 200px;
    background-color: var(--button-color);
    margin: auto;
}

#three-container {
    position: absolute;
    width: 100%; height: 100%;
}

.player {
    position: absolute;
    width: 100%; height: 100%;
    mix-blend-mode: screen;
}

#zone-logo {
    position: absolute;
    width: 100%; height: 100%;
    opacity: 35%;
    mix-blend-mode: screen;
    image-rendering: pixelated;
}

#entry-splash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#entry-panel {
    text-align: center;
}

#join-name {
    flex: 1;
    border-radius: 3px;
    padding: .4em .8em;
}

#entry-button {
    flex: 0;
    border-radius: 3px;
    padding: .4em .8em;
}
