[hidden] { display: none !important; }
* { box-sizing: border-box; }
input[type="submit"], button { cursor: pointer; }
.spacer { flex: 1; }

:root {
    --bitsy-blue: #0052cc;

    --button-color: #0052cc;
    --disable-color: #888888;
    --ascii-small: 'ascii_small_simple', monospace;

    --toolbar-gap: 8px;
    --toolbar-icon-scale: 4;
}

canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

#zone {
    width: 100%; height: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    background: black;
}

#sidebar {
    width: 512px;
    
    background: rgb(0 0 0 / 100%);

    display: flex;
    flex-direction: column-reverse;
}

#scene {
    flex: 1;
    overflow: hidden;

    background: black;
}

#renderer {
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    :root {
        --mobile: 1;
    }

    #sidebar {
        z-index: 1;
        position: absolute;
        background: none;
        pointer-events: none;

        height: calc(var(--vh, 1vh) * 100);
    }

    #menu-tabs { pointer-events: initial; }
    #panel-container { pointer-events: initial; }
}

html {
    color: white;
    background: black;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--ascii-small);
}

input, button, option, select {
    font-family: var(--ascii-small);
    font-size: 16px;
    min-height: 32px;
}

input[type="text"], select {
    color: white;
    flex: 1;

    background: black;
    border: solid black 3px;
}

input[type="text"]:focus {
    border-bottom: solid red 3px;
}

#entry {
    padding: 16px 48px;
    display: flex;
}

#entry-logo {
    width: 512px;
    max-width: 100%;
    margin-bottom: -64px;
}

#menu-container {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: start;

    pointer-events: none;
}

#panel-container {
    width: 100%;

    pointer-events: all;

    display: flex;
    align-items: flex-end;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;

    background: black;

    padding: 8px;
    gap: 8px;
}

.toolbar > button {
    width: calc(10px * var(--toolbar-icon-scale));
    height: calc(10px * var(--toolbar-icon-scale));
    flex: none;

    border: none;
    padding: calc(1px * var(--toolbar-icon-scale));
    background-color: var(--button-color);
    border-color: var(--button-color);

    pointer-events: initial;
}

button > img {
    width: 100%; height: 100%;
}

#tooltip {
    position: absolute;
    transform: translate(-50%, 24px);
    flex: 1;

    background: black;
    padding: 8px;

    pointer-events: none;
    z-index: 100;
}

button.active {
    filter: invert();
}

.menu-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 8px;
    background: rgb(32 40 64);
    flex: 0;
}

.menu-title > * {
    flex: 1;
}

.menu-body {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: rgb(0 21 51);
}

.icon-button {
    width: 24px;
    height: 24px;
    flex: 0;

    border: none;
    padding: 4px;
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.icon-button > img {
    width: 16px; height: 16px;
}

#popout-panel {
    position: absolute;
    background: black;

    left: calc(50vw - 256px); top: 0;
    min-width: 512px;
    width: 50vw;
    max-width: unset;

    bottom: unset;
    right: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#popout-panel > video {
    width: 100%;
}

[data-window] {
    width: 512px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1;
}

#user-panel {
    max-height: 480px;
}

#user-panel > .menu-body {
    overflow-y: auto;
}

#entry-users {
    margin: 1em;
}

.user-dj {
    color: #00FFFF;
}

.user-admin {
    color: #FF00FF;
}

#commands {
    overflow-y: auto;
}

.controls > button {
    flex: 1;
}

.controls > button:not(:first-child) {
    margin-left: 8px;
}

.player {
    position: absolute;
    width: 100%; height: 100%;
    mix-blend-mode: screen;
}

#zone-logo {
    position: absolute;
    width: 100%; height: 100%;
    opacity: 35%;
    mix-blend-mode: screen;
    image-rendering: pixelated;
}

#entry-splash {
    z-index: 5;
    position: absolute;
    left: 0; top: 0;
    width: 100vw; height: 100vh;

    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#entry-panel {
    width: 512px;
    text-align: center;
    max-width: 100%;
}

#join-name {
    flex: 1;
    border-radius: 3px;
    padding: .4em .8em;
}

#entry-button {
    flex: 0;
    border-radius: 3px;
    padding: .4em .8em;
}

#play-banger {
    max-width: 256px;
}
