doctype html
html
    head
        meta(charset="UTF-8")
        title zone upload
        link(rel="icon", type="image/png", href="icon.png")
        link(rel="stylesheet", href="ascii_small_simple/ascii_small_simple.css", type="text/css", charset="utf-8")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="menus.css")
        link(rel="stylesheet", href="upload.css")
    body
        #upload-panel
            a(href="/")
                img#entry-logo(src="./zone-logo.png")
            form#upload-form(action="/upload" method="POST" enctype="multipart/form-data")
                label
                    div media title
                    input(type="text" name="title" placeholder="title..." minlength="1" maxlength="64" required)
                label
                    div media shortcut
                    input(type="text" name="shortcut" placeholder="shortcut..." minlength="1" maxlength="16" required)
                input(type="file" name="file" accept=".mp4,.mp3" required)
                label
                    div upload password
                    input(type="password" name="password")
                input#upload-button(type="submit" value="upload")